.bottle-container img{
    width: 200px;
}
.bottle-container{
    border: 2px solid skyblue;
    padding: 20px;
    border-radius: 20px;
}
.bottle-container button{
    background-color: rgb(62, 150, 62);
    color: white;
}
.bottle-container button:hover{
    background-color: rgb(55, 173, 173);
}